In [15]:
from utils import Utils 
import pandas as pd
utils=Utils()

# CAMPEONES DEL MUNDIAL

In [16]:
# Crear el DataFrame
df_mundial = utils.campeones_data()

# CONTINENTES

In [17]:
df_conts=utils.paises_continente()

# PRIMERA VERSION

In [ ]:

from utils import Utils
import pandas as pd

# Crear instancia de la clase Utils
utils = Utils()

# Lista de años de los Mundiales desde 1966 hasta 2006
mundial_year=[1966, 1970, 1974,  1986, 1990, 1994, 1998, 2002, 2006]

# Lista para almacenar todos los DataFrames por año
df_total = []

# Iterar sobre cada año del Mundial
for year in mundial_year:
    print(f"Scrapeando datos del Mundial {year}...")  # Mensaje de progreso
    
    # Construir el link dinámicamente
    link = f'https://es.wikipedia.org/wiki/Equipos_participantes_en_la_Copa_Mundial_de_F%C3%BAtbol_de_{year}'
    
    # Extraer los datos de la página
    jugadores_por_equipo, posiciones_por_equipo, edades_por_equipo, partidos_por_equipo, clubes_por_equipo = utils.ft_players_scrapping(link)
    
    # Convertir los diccionarios en DataFrames
    df_jugadores = utils.dict_converter(jugadores_por_equipo, 'pais', 'Nombre_jugador')
    df_posiciones = utils.dict_converter(posiciones_por_equipo, 'pais', 'Posicion')
    df_edad = utils.dict_converter(edades_por_equipo, 'pais', 'Edad')
    df_partidos = utils.dict_converter(partidos_por_equipo, 'pais', 'Partidos_jugados')
    df_clubes = utils.dict_converter(clubes_por_equipo, 'pais', 'Club')

    # Fusionar en un solo DataFrame
    df_list = [df_jugadores, df_posiciones, df_edad, df_partidos, df_clubes]
    df_final = utils.merge_multiple_dataframes(df_list)
    
    # Agregar la columna "Año" con el valor correspondiente
    df_final["Año"] = year

    # Almacenar el DataFrame en la lista
    df_total.append(df_final)

# Concatenar todos los DataFrames en un solo DataFrame final
df_super_base = pd.concat(df_total, ignore_index=True)
df_resultante = utils.merge_dataframes(df_super_base, df_mundial, 'Año', 'Año')
df_resultante = utils.add_comparison_column(df_resultante, 'pais', 'Campeón')

Scrapeando datos del Mundial 1966...

## SEGUNDA VERSION

In [ ]:
# Lista de años de los Mundiales desde 1966 hasta 2006
mundial_year=[2010,2014,2018]

# Lista para almacenar todos los DataFrames por año
df_total = []

# Iterar sobre cada año del Mundial
for year in mundial_year:
    print(f"Scrapeando datos del Mundial {year}...")  # Mensaje de progreso
    
    # Construir el link dinámicamente
    link = f'https://es.wikipedia.org/wiki/Equipos_participantes_en_la_Copa_Mundial_de_F%C3%BAtbol_de_{year}'
    
    # Extraer los datos de la página
    jugadores_por_equipo, posiciones_por_equipo, edades_por_equipo, partidos_por_equipo, clubes_por_equipo = utils.ft_players_scrappingII(link)
    
    # Convertir los diccionarios en DataFrames
    df_jugadores = utils.dict_converter(jugadores_por_equipo, 'pais', 'Nombre_jugador')
    df_posiciones = utils.dict_converter(posiciones_por_equipo, 'pais', 'Posicion')
    df_edad = utils.dict_converter(edades_por_equipo, 'pais', 'Edad')
    df_partidos = utils.dict_converter(partidos_por_equipo, 'pais', 'Partidos_jugados')
    df_clubes = utils.dict_converter(clubes_por_equipo, 'pais', 'Club')

    # Fusionar en un solo DataFrame
    df_list = [df_jugadores, df_posiciones, df_edad, df_partidos, df_clubes]
    df_final = utils.merge_multiple_dataframes(df_list)
    
    # Agregar la columna "Año" con el valor correspondiente
    df_final["Año"] = year

    # Almacenar el DataFrame en la lista
    df_total.append(df_final)

# Concatenar todos los DataFrames en un solo DataFrame final
df_super_baseII = pd.concat(df_total, ignore_index=True)
df_resultanteII = utils.merge_dataframes(df_super_baseII, df_mundial, 'Año', 'Año')
df_resultanteII = utils.add_comparison_column(df_resultanteII, 'pais', 'Campeón')

Scrapeando datos del Mundial 2010...
Scrapeando datos del Mundial 2014...
Scrapeando datos del Mundial 2018...

# BASE FINAL DE LOS JUGADORES DE CADA MUNDIAL

In [ ]:
df_grande = utils.unir_dataframes(df_resultante, df_resultanteII)

In [ ]:
df_conts

                  pais Continente
0           Inglaterra     Europa
1              Francia     Europa
2               México    América
3              Uruguay    América
4            Argentina    América
..                 ...        ...
71            Honduras    América
72  Bosnia Herzegovina     Europa
73            Islandia     Europa
74              Serbia     Europa
75              Panamá    América

[76 rows x 2 columns]

In [ ]:
df_grande = utils.merge_dataframes(df_grande, df_conts, 'pais', 'pais')

In [ ]:
df_grande

,pais,Nombre_jugador,Posicion,Edad,Partidos_jugados,Club,Año,Campeón,pais_AND_Campeón,Continente
0,Inglaterra,Gordon Banks,Portero,28,27,Leicester City,1966,Inglaterra,1,Europa
1,Inglaterra,George Cohen,Defensa,26,24,Fulham,1966,Inglaterra,1,Europa
2,Inglaterra,Ray Wilson,Defensa,31,45,Everton,1966,Inglaterra,1,Europa
3,Inglaterra,Nobby Stiles,Centrocampista,24,14,Manchester United,1966,Inglaterra,1,Europa
4,Inglaterra,Jack Charlton,Defensa,31,16,Leeds United,1966,Inglaterra,1,Europa
...,...,...,...,...,...,...,...,...,...,...
6270,Senegal,M'Baye Niang,Delantero,23,11,Torino,2018,Francia,0,África
6271,Senegal,Keita Baldé,Delantero,23,19,Mónaco,2018,Francia,0,África
6272,Senegal,Lamine Gassama,Defensa,28,40,Alanyaspor,2018,Francia,0,África
6273,Senegal,Moussa Wagué,Defensa,19,10,Eupen,2018,Francia,0,África
6274,Senegal,Alfred Gomis,Portero,24,5,SPAL,2018,Francia,0,África

## to excel

In [ ]:
utils.guardar_excel(df_grande,'Mundial_Historic_players')

Archivo guardado como: Mundial_Historic_players.xlsx